@import url("main.css");

.timer {
    height: 50px;
    width: 250px;

    color: black;
    font-size: 3em;

    position: absolute;
    left: 30%;
}

.timer img {
    height: 50px;
}

#timer2 {
    top: 25%;
}

#timer1 {
    bottom: 25%;
}

#timer1 img {
    filter:invert(0.6);
}

/* For the captures displays */
.captured {
    width: 70%;
    height: 40px;

    position:absolute;
    left: 30%;
}

#whitePieces {
    top: 35%;
}

#blackPieces {
    bottom: 35%;
}

.captured span {
    height: 100%;
    aspect-ratio: 1 / 1;

    display: inline-block;
    position: relative;

    background-size: contain;
}

/* For the top-right forfeit button */
#forfeitBtn {
    position: absolute;
    right: 5%;
    top: 5%;

    height: 50px;
    width: 250px;

    background-color: #322783;
    color: white;

    font-family: Montserrat, sans-serif;
    font-size: 2em;
}

#playspace {
    position: absolute;
    left: 2.5%;
    top: 15%;

    height: 80%;
    width: 60%;
}

#board {
    position: relative;
    width: max-content;
    height: max-content;

    max-height: 100%;
    max-width: 100%;

    aspect-ratio: 1024 / 900;
}

#board img {
    /* height: 900px; */
    height: 100%;
    width: 100%;
    z-index: 1;

    position: relative;
    bottom: 0;
    left: 0;
}

#board span {
    z-index: 10;
    cursor: default;

    position: absolute;
    color: transparent;

    height: 6.66%;
    /* width: 60px; */
    aspect-ratio: 1 / 1;

    background-size: cover;
}

#board .pawn, 
#board .queen, 
#board .rook,
#board .king,
#board .knight,
#board .bishop,
#board .available {
    cursor: pointer;
}

.pawn {
    background-image: url('../images/pieces/pawn.png');
}

.king {
    background-image: url('../images/pieces/king.png');
}

.queen {
    background-image: url('../images/pieces/queen.png');
}

.rook {
    background-image: url('../images/pieces/rook.png');
}

.knight {
    background-image: url('../images/pieces/horse.png');
}

.bishop {
    background-image: url('../images/pieces/bishop.png');
}

.available {
    background-image: url('../images/selected.png');
}

.black {
    filter: invert(87%) sepia(23%) saturate(7421%) hue-rotate(231deg) brightness(109%) contrast(90%);
}

#stats {
    position: absolute;
    right: 0;
    top: 10%;

    height: 80%;
    width: 50%;
}

/* For the status display */
#status {
    position: absolute;

    bottom: 0;
    left: 30%;

    height: 80px;

    color: black;
    font-size: 2.5em;
}

#color {
    position: absolute;
    bottom: 82px;
    left: 30%;

    height: 40px;

    font-size: 1.3em;
}

#color span {
    vertical-align: top;
    height: 70%;
    display: inline-block;
    padding-top: 10px;
}

#color img {
    height: 70%;
    display: inline-block;
    padding-top: 5px;
}

#gameTitle {
    font-family: Nemoy, sans-serif; 
    text-align: left;
    padding-left: 30px; 
    font-size: 3em;
}

#forfeitAsk {
    font-family: MontSerrat, sans-serif; 
    position:absolute;
    left:2%;
    bottom:30%;

    height: 70px;
    width: 450px;

    color: white;

    font-size: 195%;

}

#forfeitSquare {
    position:absolute;
    right:36%;
    bottom:60%;
    display:none;

    height: 130px;
    width: 450px;

    background-color: #322783;
    color: white;

}

#forfeitYes {
    font-family: MontSerrat, sans-serif; 
    position: absolute;
    right:60%;
    bottom:10%;

    height: 40px;
    width: 100px;

    z-index:9999;

    font-size: 170%;


}

#forfeitYes:hover {
    background-color: yellow;

}

#forfeitNo {
    font-family: MontSerrat, sans-serif; 
    position:absolute;
    right:20%;
    bottom:10%;

    height: 40px;
    width: 100px;

    z-index:9999;

    font-size: 170%;

}

#forfeitNo:hover {
    background-color: yellow;
}

