body {
    background-image: url("images/game_bg.png");
    background-color: #e8e8e8;

    font-family: Montserrat, sans-serif;
    font-family: 1.4em;
}

.timer {
    height: 50px;
    width: 250px;

    color: black;
    font-size: 3em;

    position: absolute;
    left: 30%;
}

.timer img {
    height: 50px;
}

#timer1 {
    top: 25%;
}

#timer2 {
    bottom: 25%;
}

#timer2 img {
    filter:invert(0.6);
}

#forfeitBtn {
    position: absolute;
    right: 5%;
    top: 5%;

    height: 50px;
    width: 250px;

    background-color: #322783;
    color: white;

    font-family: Montserrat, sans-serif;
    font-size: 2em;
}

#board {
    position: absolute;
    left: 2.5%;
    top: 15%;

    height: 80%;
    width: 50%;
}

#board img {
    height: 900px;
    width: 1024px;
    z-index: 1;

    position: absolute;
    bottom: 0;
    left: 0;
}

#board span {
    z-index: 10;
    cursor: default;

    position: absolute;
    color: transparent;

    height: 60px;
    width: 60px;

    background-size: cover;
}

#board .pawn, 
#board .queen, 
#board .rook,
#board .king,
#board .knight,
#board .bishop {
    cursor: pointer;
}

#board .pawn {
    background-image: url('../images/pieces/pawn.png');
}

#board .king {
    background-image: url('../images/pieces/king.png');
}

#board .queen {
    background-image: url('../images/pieces/queen.png');
}

#board .rook {
    background-image: url('../images/pieces/rook.png');
}

#board .knight {
    background-image: url('../images/pieces/horse.png');
}

#board .bishop {
    background-image: url('../images/pieces/bishop.png');
}

#board .black {
    filter: invert(87%) sepia(23%) saturate(7421%) hue-rotate(231deg) brightness(109%) contrast(90%);
}

#stats {
    position: absolute;
    right: 0;
    top: 10%;

    height: 80%;
    width: 50%;
}

#message {
    position: absolute;

    bottom: 0;
    left: 30%;

    color: black;
    font-size: 4em;
}

#gameTitle {
    font-family: Nemoy, sans-serif; 
    text-align: left;
    padding-left: 30px; 
    font-size: 3em;
}