body {
    background-image: url("images/game_bg.png");
    background-color: #e8e8e8;

    font-family: Montserrat, sans-serif;
    font-family: 1.4em;
}

.timer {
    height: 50px;
    width: 250px;

    color: black;
    font-size: 3em;

    position: absolute;
    left: 30%;
}

.timer img {
    height: 50px;
}

#timer2 {
    top: 25%;
}

#timer1 {
    bottom: 25%;
}

#timer1 img {
    filter:invert(0.6);
}

#forfeitBtn {
    position: absolute;
    right: 5%;
    top: 5%;

    height: 50px;
    width: 250px;

    background-color: #322783;
    color: white;

    font-family: Montserrat, sans-serif;
    font-size: 2em;
}

#playspace {
    position: absolute;
    left: 2.5%;
    top: 15%;

    height: 80%;
    width: 60%;
}

#board {
    position: relative;
    width: max-content;
    height: max-content;

    max-height: 100%;
    max-width: 100%;

    aspect-ratio: 1024 / 900;
}

#board img {
    /* height: 900px; */
    height: 100%;
    width: 100%;
    z-index: 1;

    position: relative;
    bottom: 0;
    left: 0;
}

#board span {
    z-index: 10;
    cursor: default;

    position: absolute;
    color: transparent;

    height: 6.66%;
    /* width: 60px; */
    aspect-ratio: 1 / 1;

    background-size: cover;
}

#board .pawn, 
#board .queen, 
#board .rook,
#board .king,
#board .knight,
#board .bishop,
#board .available {
    cursor: pointer;
}

#board .pawn {
    background-image: url('../images/pieces/pawn.png');
}

#board .king {
    background-image: url('../images/pieces/king.png');
}

#board .queen {
    background-image: url('../images/pieces/queen.png');
}

#board .rook {
    background-image: url('../images/pieces/rook.png');
}

#board .knight {
    background-image: url('../images/pieces/horse.png');
}

#board .bishop {
    background-image: url('../images/pieces/bishop.png');
}

#board .available {
    background-image: url('../images/selected.png');
}

#board .black {
    filter: invert(87%) sepia(23%) saturate(7421%) hue-rotate(231deg) brightness(109%) contrast(90%);
}

#stats {
    position: absolute;
    right: 0;
    top: 10%;

    height: 80%;
    width: 50%;
}

#status {
    position: absolute;

    bottom: 0;
    left: 30%;

    color: black;
    font-size: 4vh;
}

#gameTitle {
    font-family: Nemoy, sans-serif; 
    text-align: left;
    padding-left: 30px; 
    font-size: 3em;
}

#forfeitAsk {
    font-family: MontSerrat, sans-serif; 
    position:absolute;
    right:36%;
    bottom:60%;
    display:none;

    height: 100px;
    width: 450px;

    background-color: #322783;
    color: white;

    font-size: 2em;

}

#forfeitYes {
    font-family: MontSerrat, sans-serif; 
    display:none;
    position: absolute;
    right:48%;
    bottom:62%;

    height: 30px;
    width: 100px;

    z-index:9999,


}

#forfeitNo {
    font-family: MontSerrat, sans-serif; 
    display:none;
    position:absolute;
    right:42%;
    bottom:62%;

    height: 30px;
    width: 100px;

    z-index:9999,


}

