@font-face {
    font-family: Nemoy;
    font-weight: lighter;
    src: url("../fonts/nemoy.light.ttf");
}

@keyframes fromLeft {
    0% {
        right: -30%;
    }
    100% {
        right: 7%;
    }
}

@keyframes fromBottom {
    0% {
        bottom: -30%;
    }
    100% {
        bottom: 5%;
    }
}

@keyframes breathe {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
 }

 @keyframes shiftGradient {
     0% {
        background-color: linear-gradient(90deg, rgba(49,39,131,0.0) 22%, rgba(49,39,131,1) 100%)
     }
     100% {
        background: linear-gradient(90deg, rgba(49,39,131,0.0) 0%, rgba(49,39,131,1) 60%);
     }
 }

@keyframes smallInflate {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(2);
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

body {
    /* background-image: url("../images/splash_bg.png");
    background-size: cover;
    background-position-y: bottom;
    background-attachment: fixed; */
    background-color: #d5d6e9;

    font-family: Montserrat, sans-serif;
    font-family: 1.4em;

    cursor: default;

    overflow: hidden;
}

::selection {
    background: transparent;
}

a {
    text-decoration-line: none;
}

/*
 * Minimum width/height for this game is 1280px x 720px
 */
 @media (max-width: 1279px), (max-height: 719px) {
    body::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      font-family: Montserrat, monospace;
      font-size: 20px;
      color: black;
      padding: 20px;
      content: "Your window is too small (at least 1280x720px is expected) to play this game. Enlarge the browser window or zoom out to play or disable the CSS @media query.";
      background-color: #d5d6e9;
      z-index: 100;
    }
  }